body{
    background-image: url('https://media.istockphoto.com/id/610855984/vector/abstract-background.jpg?s=612x612&w=0&k=20&c=LCD4gd4Wk1ffPJhIvC51Y2b96KgF29rkMeB1b3fNqO4='); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.audio{
    background-color: rgba(36, 33, 33, 0.849);
    text-align: center;
}

.audio h1{
    font-size: 30px; color: cadetblue;
}

.audio h2{
    font-size: 26px; color: cadetblue;
}

.audio .playlist{
    color: honeydew;
    list-style: none
}

.audio .playlist .playing{
    color:cadetblue;
}

.video {
    background-color: rgba(36, 33, 33, 0.849);
    text-align: center;
}

.video p{
    color: honeydew;
}

.video h1{
    font-size: 30px; color: cadetblue;
}

.lyrics {
    background-color: rgba(36, 33, 33, 0.849);
    text-align: center;
}

.lyrics h1{
    font-size: 30px; color: cadetblue;
}

.lyrics p{
    color: honeydew;
}
